<div class="container">

  <div class="card">
    <div class="card-header">
      Meus Tickets
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ticket</th>
            <th scope="col">Status</th>
            <th scope="col">Contagem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td [routerLink]="['/cadastro',1]" routerLinkActive="router-link-active">Implementar formularios</td>
            <td>Em implementaçao</td>
            <td>Contagem</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td >Implementar formularios</td>
            <td>Em implementaçao</td>
            <td>Contagem</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Implementar formularios</td>
            <td>Em implementaçao</td>
            <td>Contagem</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Implementar formularios</td>
            <td>Em implementaçao</td>
            <td>Contagem</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
      </nav>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
          <button class="btn btn-outline-primary btn-block">Editar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header">
      Meus Projetos
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Projeto</th>
            <th scope="col">Status</th>
            <th scope="col">Contagem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>Hotelarias</td>
            <td>Contagem</td>
            <td>Contar</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hotelarias</td>
            <td>Contagem</td>
            <td>Contar</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hotelarias</td>
            <td>Contagem</td>
            <td>Contar</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hotelarias</td>
            <td>Contagem</td>
            <td>Contar</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
      </nav>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
          <button class="btn btn-outline-primary btn-block">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>