<div class="fixed-top">
  <ul class="nav navbar-top">
    <div class="row col-sm-12">
      <li class="nav-item">
        <a class="nav-link" href="#">SISTEMA DE MÉTRICAS</a>
      </li>
      <div class="col	col-sm-4	col-md-6	col-lg-7	col-xl-8"></div>
      <li class="navbar-text ">
        <span>Olá, Usuário Logado!</span>
      </li>
      <li class="nav-item " style="padding-left:10px">
          <button class="btn btn-outline-primary" (click)="sair()">Sair</button>
      </li>
    </div>
  </ul>
  <ul class="nav navbar justify-content-center ">
    <div class="row">
      <li class="nav-item">
        <a class="nav-link active" href="#">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEUS TICKETS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEUS RELATORIOS</a>
      </li>
    </div>
  </ul>
</div>