<div class="container">
  <div class="card">
    <div class="card-header">
      1 - Implementar Formularios <!--Pegar o ID e a ativiade selecionada -->
    </div>
    <div class="card-body">
      <div class="row">
        <button class="btn btn-primary">Em Andamento</button>
        <button class="btn btn-warning">Contagem</button>
      </div>
      <p class="card-text">Adicionado em 12/10/2019</p>
      <p class="card-text">Última atualização em 12/10/2019</p>
      <p class="card-text">Descrição: Descrição do ticket</p>

      <div class="row">
        <div class="form-group col-sm-12">
          <div class="row col-sm-2">
            <label for="situacao">Situação</label>
            <select id="situacao" class="form-control">
              <option>Em Andamento</option>
              <option>Em Implementação</option>
              <option>Em Teste</option>
            </select>
          </div>
          <textarea class="col-sm-12" name="Atualizar" id="atualizar" rows="5"></textarea>
        </div>
      </div>
      <div class="row">  
        <div class= " col-3 col-sm-5 col-md-6 col-lg-8" ></div>
        <button class="btn btn-danger">Voltar</button>
        <button class="btn btn-success">Atualizar</button>
        <button class="btn btn-success">Atualizar e Contar</button>
      </div>
    </div>

  </div>
</div>