.container{
    padding-top: auto;
}

html, body {
    height: 100%;
    
}


body {
    background: white;
    background-attachment: fixed;
    font-family: Helvetica,Arial,sans-serif;
    overflow-x: hidden;
  padding-top: 70px;
}
.card-header{
    background-color:#1A71B1;
    color: #EBF8FB;
    border: none;
    /* -webkit-box-shadow: 2px 6px 46px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 46px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 30px -6px rgba(0, 0, 0, 0.75); */
}

table{
    border: 1px solid #6AA5CD;
    
}

thead{
    background-color: #6AA5CD;
    color:white;
}

button{
    margin: 0 2px!important;
}
